* {
    text-decoration: none;
    color: #111;
    box-sizing: border-box;
}
body {
    background-color: #ddd;
    padding: 20px;
    button{
        margin: 0px 20px;
        padding: 0.5rem;
    }
    h3{
        margin: 30px;
    }
    h2{
        margin: 20px;
    }
    p{
        margin: 30px;
    }
    h1 {
        margin: 40px;
        text-align: center;
    }
    canvas {
        margin: 0 40px;
    }
}
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // align-items: center;
}
.box {
    display: flex;
    flex-direction: column;
    border: 1px solid #444;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    background: #bbb;
    text-align: center;
}
button{
    color: rgb(45, 126, 192);
}
button:hover{
    color: #2D36C0;
}
#challenge {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
}
form {
    margin: 40px;
}
.redSquare{
    width: 100px;
    height: 100px;
    background: red;    
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.color{
    float: left;
    width: 20px;
    height: 20px;
    margin : 5px;
}