@import 'variable.scss';
@import 'reset.scss';
@import 'mixins.scss';

// Testings
/* Body part */
body{
    @include backgroundColor(#EAEAEA);
    padding-top: 0px;
    font-family: $font-stack;
}
p{
    text-align: justify;
    color: $primary-text-color;
    font-weight: 400;
}
/* Headers */
h1, h2, h3{
    text-align: center;
    font-weight: 800;
}
h1{
    color: $red-color;
}
h2{
    color: $primary-text-color;
}
h3{
    color: $primary-text-color;
    margin-top: 0;
}
a{
    text-decoration: none;
}
.main{
    width: 580px;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0px 3px 15px 0px #DADADA;
}
.intro{
    text-align: center;
    a{
        position: relative;
        display: inline-block;
        margin: auto;
        padding: 10px;
        border-radius: 5px;
        background-color: $red-color;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        &:hover{
            background-color: rgb(221, 221, 221);
            color: $red-color;
        }
    }
}
.tim{
    display: block;
    position: relative;
    margin: auto;
    filter: grayscale(1);
    border-radius: (100/2)*1%;
    border: 5px solid #CBCBCB;
}
li{
    display: inline-block;
    &:hover{
        transform: scale(1.2);
    }
}
.icon{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 50px 100px;
    a{
        color: #C7C7C7;
    }
}
i{
    transform: scale(2);
    padding-bottom: 15px;
    padding-top: 15px;
}
.movies{
    display: grid;
    grid-gap: 30px;
    grid-template: 100px repeat(3, 1fr) / auto auto;
    grid-template-areas:
        "h   h"
        "i1 p1"
        "i2 p2"
        "i3 p3";
    h2{
        grid-area: h;
    }
}
.odissey-img{
    grid-area: i1;
}
.odissey-txt{
    grid-area: p1;
}
.hulot-img{
    grid-area: i2;
}
.hulot-txt{
    grid-area: p2;
}
.alien-img{
    grid-area: i3;
}
.alien-txt{
    grid-area: p3;
}
@import 'smaller-screen.scss';
@import 'small-screen.scss';